@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'porter-sans-block';
  src: url('./fonts/porter-sans-inline-block-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('./fonts/Poppins-Black.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('./fonts/Inconsolata-VariableFont_wdth,wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Notable';
  src: url('./fonts/Notable-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'poppins', 'porter-sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
